node_modules/
Server/.idea/
Server/data/db/
Server/.env
Webapp/.idea/
.idea/
/Server/storage/votings.json
/Server/storage/users.json
/Server/storage/rooms.json
/Server/storage/users_connections.json
/Webapp/public/dist/index.html
