Server/node_modules/
Server/.idea/
Server/data/db/
Server/.env
Webapp/node_modules/
Webapp/.idea/
.idea/
/Server/storage/votings.json
/Server/storage/users.json
/Server/storage/rooms.json
/Server/storage/users_connections.json
